.gridContainer {
  display: grid;
  width: 100%;
}

h1 {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 35px;
  color: rgb(22, 62, 37);
}

h2 {
  font-size: 2em;
  color: rgb(255, 255, 255);
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-width: 2px;
  border-left: 25px;
  border-color: rgb(247, 251, 237);
  border-style: solid;
  background-color: rgb(22, 62, 37);
}

h3 {
  font-size: 20px;
  color: rgb(22, 62, 37);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

h5 {
  color: rgb(247, 251, 237);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  animation-name: textAnimation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-left: 60px;
  margin-right: 40px;
  padding-bottom: 106px;
}

.row .MeNMD {
  float: left;
  width: 50%;
  background-color: rgb(247, 251, 237);
}

#Mypic {
  padding-top: 30px;
  width: 50%;
  margin-left: 25%;
  background-color: rgb(247, 251, 237);
}

.myFreeTime {
  background-color: rgb(247, 251, 237);
  margin-top: 50px;
}

/* The following 5 lines of code were adapted from https://www.w3schools.com/css/tryit.asp?filename=trycss_layout_clearfix2 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.myFreeTime h2 {
  text-align: center;
}

.DrawPics {
  margin-left: 6%;
}

.myFreeTime p {
  padding-bottom: 10px;
}

body {
  background-color: rgb(247, 251, 237);
}

.MenuFlex {
  display: flex;
}
.MenuFlex .item {
  width: 7%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(22, 62, 37);
  margin-left: 2.6%;
}

.source {
  color: rgb(22, 62, 37);
}

.heroSection {
  background-color: rgb(22, 62, 37);
  display: flex;
  width: 100%;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  animation-name: animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes animation {
  0% {
    background-color: rgb(22, 62, 37);
  }
  50% {
    background-color: rgb(247, 251, 237);
  }
  100% {
    background-color: rgb(22, 62, 37);
  }
}
/* 5% {
    background-color: rgb(45, 81, 59);
  }
  10% {
    background-color: rgb(69, 101, 81);
  }
  15% {
    background-color: rgb(92, 120, 102);
  }
  20% {
    background-color: rgb(115, 139, 124);
  }
  25% {
    background-color: rgb(139, 159, 146);
  }
  30% {
    background-color: rgb(162, 178, 168);
  }
  35% {
    background-color: rgb(185, 197, 190);
  }
  40% {
    background-color: rgb(208, 216, 211);
  }
  45% {
    background-color: rgb(232, 236, 233);
  }
  50% {
    background-color: rgb(255, 255, 255);
  }
} */

@keyframes textAnimation {
  0% {
    font-size: 0;
  }
  50% {
    font-size: 100px;
    color: rgb(22, 62, 37);
  }

  100% {
    font-size: 0;
  }

  /* 5% {
    font-size: 10px;
    color: rgb(255, 255, 255);
  }
  10% {
    font-size: 20px;
    color: rgb(232, 236, 233);
  } */
}
